.container_show {
  color: black;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
  font-size: 16px;
  font-weight: lighter;
}
#content-wrap {
  padding-bottom: 2.5rem;
  align-items: center;
  justify-content: center;
}
.row {
  justify-content: center;
}
.row ul {
  list-style-type: none;
  padding: 1.5rem;
}
.pic {
  border: 2px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  img {
    width: 500px;
  }
}
.address {
  text-align: right;
  color: black;
  font-size: 16px;
  font-weight: lighter;
  &:hover {
  color: #A9A9A9;
  }
}
.price {
  text-align: right;
  padding: 1rem;
  color: black;
  font-size: 16px;
  font-weight: lighter;
}
.btn {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
}
.btn:hover {
  color: #A9A9A9;
}