.container_show {
  color: black;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;

  font-size: 16px;
  font-weight: lighter;
}
#content-wrap {
  padding-bottom: 2.5rem;
  align-items: center;
  justify-content: center;
}
.row {
  justify-content: center;
}

.row ul {
  list-style-type: none;
  padding: 1.5rem;
}
.pic {
  padding: 5px;
  img {
    width: 500px;
  }
}

.address {
  text-align: right;
  color: grey;
}

.address:hover {
  color: #a9a9a9;
}
.address {
  text-align: right;
  color: black;
  font-size: 16px;
  font-weight: lighter;
  &:hover {
    color: #a9a9a9;
  }
}
.price {
  text-align: right;
  padding: 1rem;

  color: grey;

  font-size: 16px;
  font-weight: lighter;
}
.btn {
  color: #4a4a4a;
  border: 1px solid #4a4a4a;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
}
.btn:hover {
  color: #a9a9a9;
}
