.container-form {
  color: black;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
}

#content-wrap {
  padding-bottom: 2.5rem;
  align-items: center;
  justify-content: center;

}

.signup-form {
   display: inline-block;
   margin: 20px 0 auto;
   width: 100%;
   display: block;
   text-align: center;
}


