<%= render 'shared/navbar' %>
<div id="home-container">
  <div id="content-wrap">
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
      <div class="container">
        <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
        <a class="btn btn-outline-dark" href="#">Apply now</a>
      </div>
    </div>
    </div>
  <%= render 'shared/footer'%>
</div>