<%= render 'shared/navbar' %>
<div id="home-container">
  <div id="content-wrap">
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
      <div class="container">
        <h1>The flat of your dreams is here somewhere!</h1>
        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
        <div class="row">
          <div class="col align-self-end">
            <%= link_to "Book now", "#", class: "btn btn-ghost" %>
          </div>
        </div>
      </div>
    </div>
    </div>
  <%= render 'shared/footer'%>
</div>