.button-search {
    color: #eeeeee;
    border: 1px solid #eeeeee;
    font-weight: lighter;
    opacity: 0.6;
    transition: opacity 0.3s ease;
  }
  
  .button-search :hover {
    color: #eeeeee;
    opacity: 1;
  }