.form-container {
    width: 100%;
    display: flex;
    justify-content: center;
}
.form {
    display: block;
    margin-top: 0em;
}
.form-wrapper{
    position: relative;
    .mx-1 {
        margin-left: 0 !important;
    }
}
.form-width-third{
    
}
.form-width-sixth{
    
}